<%= form_for @category  do |f| %>
    <% if @category.errors.any? %>
      <ul>
        <h3> These errors prohibited the form from being saved: </h3>
           <% @category.errors.full_messages.each do |msg| %>
               <li> <%= msg %> </li>
           <% end %>
      </ul>
    <% end %>


<label for = "name"> Name: </label> <span id = "nameMsg">
</span>
<br/>
<%= f.text_field :name %> <br/>

<label for = "description"> Description: </label> <span id = "nameMsg">
</span>
<br/>
<%= f.text_area :description %> <br/>
<%= f.submit %>
<% end %>

<script>
	var  nameHandle = document.getElementById('name');
	var nameMsgHandle = document.getElementById('nameMsg');
    nameHandle.addEventListener('focus',function(){
    	nameMsgHandle.innerHTML = "Enter the category name";
    }, false);

    nameHandle.addEventListener('blur', function(){
    	if(nameHandle.value == ""){
    		nameMsgHandle.innerHTML = "can't be blank";

    	} else {
    		nameMsgHandle.innerHTMl = "";
    	}
    }, false);

</script>